.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.main__button {
  max-width: 80px;
  height: 30px;

  cursor: pointer;
}

.news-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
